:root {
    --primaryColor: black;
    --secondaryColor: white;
    --alternativeColor: rgba(99, 99, 99, 0.5);
    --greenColor: green;
    --awesomeColor: rgb(143, 163, 65);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    background-color: var(--alternativeColor);
    min-height: 100vh;
    /* Grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
}
/* logo */
.logo {
    width: 5rem;
}
header, footer{
    background-color: var(--awesomeColor);
    grid-column: 1 / 4;

}
.flex-container {
    background-color: var(--secondaryColor);
    grid-column: 1/ 4;
    border: 1rem dotted var(--greenColor);
}